.button {
  margin-right: 35px;
  margin-top: 20px;
}

.corral {
  width: 20%;
}

.corral2 {
  width: 5%;
}

.answer {
  margin-bottom: 20px;
}

.space {
  height: 15px;
}

<<<<<<< HEAD
.result{
  margin-top: -30px;
}

.blue {
  color: #5280EB;
}
=======
.test_logo {
  border:0px;
}

.test_form {
  margin-right: 50px;
}
>>>>>>> 2c30929ee5d3121be6eea66a5f4160fe28077ba0
