header {
  display: block;
  margin-right: 20px;
  margin-top: 15px;
}

a {
  color: black;
}

#profile-button {
  background-color: #5280EB;
  border: 1px solid black;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  float: right;
  float: top;
  font-size: 12px;
  height: 20px;
  margin-bottom: 5px;
  margin-right: 20px;
  margin-top: -30px;
  padding-bottom: 20px;
  padding-top: 1px;
  position: relative;
  text-align: center;
  text-transform: translateY(-50%);
  width: 70px;
}

body {
  background-color: #D3D3D3;
  display: block;
}

.container {
  margin-left: 100px;
  margin-top: 50px;
}

.container2 {
  margin-left: 100px;
  margin-top: 100px;
}

.container3 {
  margin-top: -15px;
}

.test_name {
  margin-bottom: -25px;
}

h1, {
  color: #5280EB;
}

h2 {
  color: black;
}

h3 {
  color: #5280EB;
  margin-bottom: -10px;
  margin-top: 50px;
  text-decoration: underline;
}

h4 {
  text-decoration: none;
}

h5 {
  margin-bottom: 5px;
  margin-top: -20px;
}

.no_creator {
  margin-bottom: 5px;
}

.label {
  color: black;
  font-weight: bold;
}

.input {
  margin-bottom: 25px;
}

.button {
  background-color: #5280EB;
  border: 1px solid black;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  height: 10px;
  padding-bottom: 15px;
  padding-top: 10px;
  text-align: center;
  text-transform: translateY(-50%);
}

.button2 {
  background-color: #5280EB;
  border: 1px solid black;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  height: 10px;
  margin-top: -5px;
  padding-bottom: 15px;
  padding-top: 10px;
  text-align: center;
  text-transform: translateY(-50%);
}

.button3 {
  background-color: #5280EB;
  border: 1px solid black;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  height: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 2px;
  text-align: center;
  text-transform: translateY(-50%);
}

.logo {
  float: right;
  margin-right: -25px;
  margin-top: -300px;
}

.logo1 {
  float: right;
  margin-right: -100px;
  margin-top: -500px;
}