
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->

<body>


<div class="row">


  <div class="large-3 columns ">
    <div class="panel">

      <h1 id="greeting"><span class="hi">Hi,</span><span><%= current_user.name %></span></h1>
      <img src="<%= current_user.avatar %>" style="border: 0px; margin-top: 5px">


        <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
          <section class="section">
            <h4>Tests</h4>
          </section>
          <section class="section">
            <h5 class="title"><a href="/tests/new"><span>Create new test</span></a></h5>
          </section>
          <section class="section">
            <h5 class="title"><a href="tests"><span>View saved tests</span></a></h5>
          </section>

          <section class="section">
            <h4>Questions</h4>
          </section>
          <section class="section">
            <h5 class="title"><a href="/questions"><span>View all questions</span></a></h5>
          </section>
          <section class="section">
            <h5 class="title"><a href="/questions/new"><span>Submit new question</span></a></h5>
          </section>
          <div id="xspace"></div>
        </div>
    </div>
  </div>


  <div class="large-8 columns">
    <div class="row">
      <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>
        <div class="large-10 columns">
          <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
            <ul class="inline-list">
              <li><a href="">Reply</a></li>
              <li><a href="">Share</a></li>
            </ul>
          <h6>2 Comments</h6>
    <div class="row">
      <div class="large-2 columns small-3"><img src="http://placehold.it/50x50&text=[img]"/></div>
        <div class="large-10 columns"><p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit</p></div>
    </div>
      <div class="row">
        <div class="large-2 columns small-3"><img src="http://placehold.it/50x50&text=[img]"/></div>
          <div class="large-10 columns"><p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit</p></div>
        </div>
      </div>
  </div>

<hr/>

<div class="row">
  <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>
  <div class="large-10 columns">
    <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
      <ul class="inline-list">
        <li><a href="">Reply</a></li>
        <li><a href="">Share</a></li>
      </ul>
  </div>
</div>

<hr/>

<div class="row">
  <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>
    <div class="large-10 columns">
      <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
        <ul class="inline-list">
          <li><a href="">Reply</a></li>
          <li><a href="">Share</a></li>
        </ul>
      <h6>2 Comments</h6>
      <div class="row">
        <div class="large-2 columns small-3"><img src="http://placehold.it/50x50&text=[img]"/></div>
        <div class="large-10 columns"><p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit</p></div>
      </div>
    </div>
</div>

</div>



</div>

<footer class="row">
<div class="large-12 columns">
<hr/>
<div class="row">
<div class="large-5 columns">
<p>&copy; Copyright The 3 Marketeers</p>
</div>
</div>
</div>
</footer>
<!-- // --> <script>
//   document.write('<script src=js/vendor/' +
//   ('__proto__' in {} ? 'zepto' : 'jquery') +
//   '.js><\/script>')
//   </script>
<!-- <script src="../../assets/js/jquery.js"></script> -->
<!-- <script src="js/foundation.min.js"></script> -->
<script>
    $(document).foundation();
  </script>
<!-- <script src="../assets/js/templates/jquery.js"></script> -->
<!-- <script src="../assets/js/templates/foundation.js"></script> -->
<script>
      $(document).foundation();

      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>
</body>
</html>
