<link type="text/css" rel="stylesheet" href="/stylesheets/homepage.css"/>
<title>Welcome to Marketeers! Crowd-sourced test builders for assesing marketing hires</title>
<body>

<div class="top">

  <div class="top-words">
    <h1><span>One for all and all for one!</span></h1>

    <h2><span2>Testing just got easier thanks to your peers</span2></h2>
    <h2><span2>all coming together as Marketeers!</span2></h2>
  </div>

</div>


<div class="bottom">

  <div class="b1">
    <h4>Sample Questions</h4>

    <p><strong>These questions give you a glimpse of what's inside:</strong></p>
  </div>

  <div class="b2">
    <h3>Become a Marketeer and access a complete database of questions for your next hiring exam!</h5>

    <p>Access hundreds of questions posted by your peers and testing experts.  Choose which questions you want to add to your exam.  If you don't see a question you want, just add it!  When you add a question, it becomes part of the database for peers to use as well.  One for all and all for one!</p>

    <p>Save as many exams as you'd like to your private test database and administer them any time via our website.  After a candidate takes your exam, you get immediate access to their results along with candidate rankings.  Hiring just got easier!</p>
  </div>

  <div class="b3">
    <h4>Testimonials</h4>

    <p><strong>Read what Marketeers have to say:</strong></p>

    <p><strong>HiringGuru:  </strong>Becoming a Marketeer has saved me a ton of time and effort!  Marketeers makes it easy to create exams for hiring and promotions.  Being able to combine your own questions with those of other hiring experts allows you to create the best custom exams for every position.</p>

    <p><strong>MarketingTerry:  </strong>Marketeers is great!  I love being able to see what my peers are asking on their exams.  And not having to always think up my own questions is great!</p>

    <p><strong>MasterOfHR:  </strong>I like the ability to sort questions by ranking.  This saves me even more time and allows me to focus on other parts of my job.</p>
  </div>

</div>

</body>


<footer>
  <p>&copy; Copyright The 3 Marketeers</p>
</footer>
